<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section" id="style-3">
    <ul class="nav side-menu" style='display:block;'>
      <!--li class="< %= controller_name == 'manufacturers' ? 'active' : '' %>"><a href='/admin/manufacturers'><i class="fa fa-table"></i>Manufacturers</a></li-->
      <li>
        <a href='/users'><i class="fa fa-table"></i>Users</a>
      </li>
      <li>
        <a href='/roles'><i class="fa fa-table"></i>Roles</a>
      </li>

      <li>
        <a href='/roles/hide_roles'><i class="fa fa-table"></i>Hide Roles</a>
      </li>

    </ul>
  </div>
</div>
